﻿@model Proyecto_dsw1.Data.producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutLoginAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_cod_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_cod_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.des_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.des_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pre_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pre_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.categoria.desc_cate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.categoria.desc_cate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.genero.desc_genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.genero.desc_genero)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
