﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}


<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Productos</h6>
                    <p class="btn btn-dark text-white m-2">
                        @Html.ActionLink("Nuevo", "Create", null, new { @class = "text-white" })
                    </p>
                </div>
            </div>
            <div class="card-body p-3 pb-2">
                <div class="table-responsive p-0">
                    <table width="100%" id="table" class="table align-items-center mb-0">
                        <thead>
                            <tr>
                                <th>Imagen</th>
                                <th>Nombre</th>
                                <th>Descripción </th>
                                <th>Precio</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready( function () {

    listar();

} );


function listar(){

 $('#table').dataTable().fnClearTable();
    $('#table').dataTable().fnDestroy();
        $("#table").dataTable({
                "bServerSide": true, //make server side processing to true
                "sAjaxSource": '/Producto/GetData', //url of the Ajax source,i.e. web api method
                "sAjaxDataProp": "aaData", // data property of the returned ajax which contains table data
                "bProcessing": true,
                "bLengthChange": false,
                "sPaginationType": "full_numbers",//pagination type
                   "bInfo": false,
                            language: {
                "emptyTable": "No hay información",
                "info": "Mostrando _START_ a _END_ de _TOTAL_ Documentos",
                "infoEmpty": "Mostrando 0 to 0 of 0 Documentos",
                "infoFiltered": "(Filtrado de _MAX_ total entradas)",
                "infoPostFix": "",
                "thousands": ",",
                "lengthMenu": "Mostrar _MENU_ Documentos",
                "loadingRecords": "Cargando...",
                "processing": "Procesando...",
                "search": "Buscar:",
                "zeroRecords": "Sin resultados encontrados",
                "paginate": {
                    "first": "Primero",
                    "last": "Ultimo",
                    "next": "Siguiente",
                    "previous": "Anterior"
                }
            },
                "aoColumns": [
                    { "mData": "nom_prod" },
                    { "mData": "nom_prod" },
                    { "mData": "pre_prod" },
                    { "mData": "des_prod" },

                {
                    "mData": "id_prod", "bSearchable": false, "bSortable": false, "sWidth": "40px",
                    "mRender": function (data) {
                        return '<a id="btnEdit" href="/productos/Edit?id=' + data + '">' +
						'<span class="fa fa-edit text-warning icono"></span>' +
						'</a>|'+
						'<a id="btneliminar" onclick="eliminar('+data+')">'+
						'<span class="fa fa-trash text-danger icono"></span> '    +
						'</a>'
                    }
                }

                ]
            });

}





        function eliminar(id){

 var urlSave = '/Producto/Delete?id='+id;
Swal.fire({
  title: 'Esta seguro de eliminar al empleado?',
  text: "Esta acción es irreversible!",
  icon: 'warning',
  showCancelButton: true,
  confirmButtonColor: '#3085d6',
  cancelButtonColor: '#d33',
  confirmButtonText: 'Si, eliminar'
}).then((result) => {
  if (result.isConfirmed) {

     $.ajax
    ({
        type: "POST",
        url: urlSave,
        //data: { "id": ids },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {
            // function is not returning to success

            listar();
            toastr.success("Usuario eliminado corretamente");
        },
        error: function (xhr, ajaxOptions, thrownError) {
            // always error method is getting called
            var somthing = "pankajDubey";
        }
    });
  }
})

        }


</script>
