﻿<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mi aplicación ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="~/Content/CargaPagina.css" />
</head>
<body>
    <div id="contenedor_carga">
        <div id="carga"></div>
    </div>
    <header class="cabecera">
        <div class="container">
            <div class="navbar ">
                <div class="col-lg-3">

                </div>
                <div class=" col-lg-6 logo">
                    <a href='@Url.Action("Pagina_principal", "Home")'>
                        <img src='@Url.Content("~/imagenes/logo.png")' />
                    </a>
                </div>
                <div class="col-lg-3 carrito ">

                </div>

            </div>

        </div>

    </header>
    <div class=" container body-content">
        @RenderBody()
        <hr />

    </div>
 <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script>
        $(document).ready(function(){

 var contenedor = document.getElementById('contenedor_carga');
            contenedor.style.visibility = 'hidden';
            contenedor.style.opacity = '0';

});

</script>

</body>
</html>
