﻿<!DOCTYPE html>
<html dir="ltr" lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="keywords"
          content="wrappixel, admin dashboard, html css dashboard, web dashboard, bootstrap 5 admin, bootstrap 5, css3 dashboard, bootstrap 5 dashboard, Matrix lite admin bootstrap 5 dashboard, frontend, responsive bootstrap 5 admin template, Matrix admin lite design, Matrix admin lite dashboard bootstrap 5 dashboard template" />
    <meta name="description"
          content="Matrix Admin Lite Free Version is powerful and clean admin dashboard template, inpired from Bootstrap Framework" />
    <meta name="robots" content="noindex,nofollow" />
    <title>Matrix Admin Lite Free Versions Template by WrapPixel</title>
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">

    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/css/nucleo-icons.css" rel="stylesheet" />
    <link href="~/Content/css/nucleo-svg.css" rel="stylesheet" />
    <link id="pagestyle" href="~/Content/css/material-dashboard.css" rel="stylesheet" />
    <link id="pagestyle" href="~/Content/css/material-dashboard.min.css" rel="stylesheet" />
    <link href="~/Content/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/sweetalert/sweet-alert.css" rel="stylesheet" />
    <link href="~/lib/datatables/media/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="~/lib/datatables/media/js/jquery.dataTables.min.js" defer></script>
    <script type="text/javascript" src="~/Scripts/toastr.min.js"></script>

    <script type="text/javascript" src="~/Scripts/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.signalR-2.4.3.min.js"></script>
    <script type="text/javascript" src="/signalr/hubs"></script>
    <script type="text/javascript" src="~/Scripts/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.10/jquery.mask.js"></script>
    <link href="~/Content/css/nucleo-icons.css" />
</head>


<body  class="g-sidenav-show  bg-gray-200">
    <audio id="multiaudio1"  preload="auto">
        <source src="~/Sound/facebook_ping.mp3"/>
    </audio> 
     <aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3   bg-gradient-dark" id="sidenav-main">
    <div class="sidenav-header">
      <i class="fas fa-times p-3 cursor-pointer text-white opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
      <a class="navbar-brand m-0" href="https://demos.creative-tim.com/material-dashboard/pages/dashboard">
        <img src="~/Assets/img/logo-ct.png" class="navbar-brand-img h-100" alt="main_logo">
        <span class="ms-1 font-weight-bold text-white">Administrador</span>
      </a>
    </div>
    <hr class="horizontal light mt-0 mb-2">
    <div class="collapse navbar-collapse  w-auto  max-height-vh-100" id="sidenav-collapse-main">
      <ul class="navbar-nav">
       
            @foreach (Proyecto_dsw1.Data.menu_rol menu in (List<Proyecto_dsw1.Data.menu_rol>)Session["menu"]) { 
             <li class="nav-item">
               @if (ViewBag.paginaPadre == menu.menu.vc_nombre)
            {
                <a class="nav-link text-white active bg-gradient-primary" href="@Url.Action("Mantenimiento_Home","Home")">
                <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="@menu.menu.vc_icono"></i>
            </div>
            <span class="nav-link-text ms-1">@menu.menu.vc_nombre</span>
          </a>
        }
        else { 
         <a class="nav-link text-white" href="@menu.menu.vc_ruta">
            <div class="text-white text-center me-2 d-flex align-items-center justify-content-center">
              <i class="@menu.menu.vc_icono"></i>
            </div>
            <span class="nav-link-text ms-1">@menu.menu.vc_nombre</span>
          </a>
        
        }
        </li>
            
            }

      </ul>
    </div>
    <div class="sidenav-footer position-absolute w-100 bottom-0 ">
     
    </div>
  </aside>
    
  <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
    <!-- Navbar -->
    <nav class="navbar navbar-main navbar-expand-lg px-0 mx-4 shadow-none border-radius-xl" id="navbarBlur" navbar-scroll="true">
      <div class="container-fluid py-1 px-3">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb bg-transparent mb-0 pb-0 pt-1 px-0 me-sm-6 me-5">
            <li class="breadcrumb-item text-sm"><a class="opacity-5 text-dark" href="@Url.Action("Index",ViewBag.pagina)">@ViewBag.paginaPadre</a></li>
            <li class="breadcrumb-item text-sm text-dark active" aria-current="page">@ViewBag.pagina</li>
          </ol>
        </nav>
        <div class="collapse navbar-collapse mt-sm-0 mt-2 me-md-0 me-sm-4" id="navbar">
          <div class="ms-md-auto pe-md-3 d-flex align-items-center">
            @*<div class="input-group input-group-outline">
              <label class="form-label">Type here...</label>
              <input type="text" class="form-control">
            </div>*@
          </div>
          <ul class="navbar-nav  justify-content-end">
            <li class="nav-item d-flex align-items-center">
              <a href="@Url.Action("CerrarSesion")" class="nav-link text-body font-weight-bold px-0">
                <i class="fa fa-user me-sm-1"></i>
                <span class="d-sm-inline d-none"> </span>
              </a>
            </li>
            <li class="nav-item d-xl-none ps-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="iconNavbarSidenav">
                <div class="sidenav-toggler-inner">
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                  <i class="sidenav-toggler-line"></i>
                </div>
              </a>
            </li>
            <li class="nav-item px-3 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0">
                <i class="fa fa-cog fixed-plugin-button-nav cursor-pointer"></i>
              </a>
            </li>
            <li class="nav-item dropdown pe-2 d-flex align-items-center">
              <a href="javascript:;" class="nav-link text-body p-0" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <i id="btnNoti" class="fa fa-bell cursor-pointer"></i>
              </a>
              <ul id="messagesTable" class="dropdown-menu  dropdown-menu-end  px-2 py-3 me-sm-n4" aria-labelledby="dropdownMenuButton">
               

              </ul>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <!-- End Navbar -->
    <div class="container-fluid py-4">
      @Html.AntiForgeryToken()                 
        @RenderBody()

      <footer class="footer py-4  ">
        <div class="container-fluid">
          <div class="row align-items-center justify-content-lg-between">
            <div class="col-lg-6 mb-lg-0 mb-4">
              <div class="copyright text-center text-sm text-muted text-lg-start">
                © <script>
                  document.write(new Date().getFullYear())
                </script>,
               
              </div>
            </div>
          </div>
        </div>
      </footer>
    </div>
  </main>
  <div class="fixed-plugin">
    <a class="fixed-plugin-button text-dark position-fixed px-3 py-2">
      <i class="fa fa-cog py-2"></i>
    </a>
    <div class="card shadow-lg">
      <div class="card-header pb-0 pt-3">
        <div class="float-start">
          <h5 class="mt-3 mb-0">Configuraciones</h5>
          <p></p>
        </div>
        <div class="float-end mt-4">
          <button class="btn btn-link text-dark p-0 fixed-plugin-close-button">
            <i class="material-icons">Cerrar</i>
          </button>
        </div>
        <!-- End Toggle Button -->
      </div>
      <hr class="horizontal dark my-1">
      <div class="card-body pt-sm-3 pt-0">
        <!-- Sidebar Backgrounds -->
        <div>
          <h6 class="mb-0">Color</h6>
        </div>
        <a href="javascript:void(0)" class="switch-trigger background-color">
          <div class="badge-colors my-2 text-start">
            <span class="badge filter bg-gradient-primary active" data-color="primary" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-dark" data-color="dark" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-info" data-color="info" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-success" data-color="success" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-warning" data-color="warning" onclick="sidebarColor(this)"></span>
            <span class="badge filter bg-gradient-danger" data-color="danger" onclick="sidebarColor(this)"></span>
          </div>
        </a>
        <!-- Sidenav Type -->
        <div class="mt-3">
          <h6 class="mb-0">Sidenav Type</h6>
          <p class="text-sm"></p>
        </div>
        <div class="d-flex">
          <button class="btn bg-gradient-dark px-3 mb-2 active" data-class="bg-gradient-dark" onclick="sidebarType(this)">Negro</button>
          <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-transparent" onclick="sidebarType(this)">Transparente</button>
          <button class="btn bg-gradient-dark px-3 mb-2 ms-2" data-class="bg-white" onclick="sidebarType(this)">Claro</button>
        </div>
        <p class="text-sm d-xl-none d-block mt-2">You can change the sidenav type just on desktop view.</p>
        <!-- Navbar Fixed -->
        <div class="mt-3 d-flex">
          <h6 class="mb-0">Menu Fijo</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="navbarFixed" onclick="navbarFixed(this)">
          </div>
        </div>
        <hr class="horizontal dark my-3">
        <div class="mt-2 d-flex">
          <h6 class="mb-0">Claro / Oscuro</h6>
          <div class="form-check form-switch ps-0 ms-auto my-auto">
            <input class="form-check-input mt-1 ms-auto" type="checkbox" id="dark-version" onclick="darkMode(this)">
          </div>
        </div>
        <hr class="horizontal dark my-sm-4">

      </div>
    </div>
  </div>

      <script type="text/javascript" src="~/Scripts/js/core/popper.min.js"></script>
  <script type="text/javascript" src="~/Scripts/js/core/bootstrap.min.js"></script>
  <script type="text/javascript" src="~/Scripts/js/plugins/perfect-scrollbar.min.js"></script>
  <script type="text/javascript" src="~/Scripts/js/plugins/smooth-scrollbar.min.js"></script>
    
      <script async defer src="https://buttons.github.io/buttons.js"></script>

  <script type="text/javascript" src="~/Scripts/js/material-dashboard.min.js"></script>


    <script type="text/javascript">


     $(function () {
       // Declare a proxy to reference the hub.
       var notifications = $.connection.myHub;
       //debugger;
       // Create a function that the hub can call to broadcast messages.
       notifications.client.updateMessages = function () {
           getAllMessages();

       };
       // Start the connection.
       $.connection.hub.start().done(function () {
         getAllMessages();
       }).fail(function (e) {
         alert(e);
       });
     });
     function getAllMessages() {
       var tbl = $('#messagesTable');
       $.ajax({
         url: '/Home/GetData2',
         contentType: 'application/html ; charset:utf-8',
         type: 'GET',
         dataType: 'html',
         success: function (result) {
           console.log(result);
           var a2 = JSON.parse(result);
           tbl.empty();
           var i = 1;
           let date = new Date();
           var mensaje = '';

           if (a2.length > 0) {
               if ('@ViewBag.paginaPadre' == 'Inicio') {
                   reproducirAudio();
               }
               $('#btnNoti').addClass('text-warning');
               $('#btnNoti').html('<b class="numNotificaciones">' + a2.length + '</b>');
               $.each(a2, function (key, value) {
                   var fecha1 = moment(value.dt_fec_reg);
                   var fecha2 = moment().toDate();

                   if (fecha1.diff(fecha2, 'days') == 0) {
                       mensaje = 'Registrado hoy';
                   } else if (fecha1.diff(fecha2, 'days') == -1) {
                       mensaje = 'Registrado Ayer';
                   } else {
                       mensaje = 'Registrado hace ' + fecha1.diff(fecha2, 'days') * -1 + ' dias';
                   }

                   tbl.append(' <li class="mb-2">' +
                      '<a href="/notificacions/Details?id=' + value.in_id_notificacion + '" class="dropdown-item border-radius-md">' +
                        '<div class="d-flex py-1">' +
                          '<div class="my-auto">' +
                            '<img src="../Assets/img/icons/venta.png" class="avatar avatar-sm  me-3 ">' +
                         ' </div>' +
                          '<div class="d-flex flex-column justify-content-center">' +
                            '<h6 class="text-sm font-weight-normal mb-1">' +
                              '<span class="font-weight-bold">' + value.vc_descripcion + '</span> ' +
                            '</h6>' +
                            '<p class="text-xs text-secondary mb-0">' +
                              '<i class="fa fa-clock-o me-1"></i>' +
                                mensaje +
                            '</p>' +
                          '</div>' +
                        '</div>' +
                     '</a>' +
                   ' </li>');
               });
           } else {
               $('#btnNoti').removeClass('text-warning');
               $('#btnNoti').html('');
               tbl.append(' <li class="mb-2">' +
                      '<a class="dropdown-item border-radius-md" href="javascript:;">' +
                        '<div class="d-flex py-1">' +
                          '<div class="my-auto">' +
                            '<img src="../Assets/img/icons/venta.png" class="avatar avatar-sm  me-3 ">' +
                         ' </div>' +
                          '<div class="d-flex flex-column justify-content-center">' +
                            '<h6 class="text-sm font-weight-normal mb-1">' +
                              '<span class="font-weight-bold">No hay notificaciones</span> ' +
                            '</h6>' +
                            '<p class="text-xs text-secondary mb-0">' +
                              '<i class="fa fa-clock me-1"></i>'+
                            '</p>' +
                          '</div>' +
                        '</div>' +
                     '</a>' +
                   ' </li>');
           }
         }
       });
     }
     function reproducirAudio() {
         document.getElementById('multiaudio1').play();
     }


    </script>
</body>
</html>