﻿
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
@using System.Web.UI.WebControls;
@using RadPdf.Web.UI;

<style>

    .note-dropdown-menu {
 min-width: 350px !important;
         }
    form{
        max-width: 600px !important;
    }
</style>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<script src="~/Scripts/select2.min.js" type="text/javascript"></script>
<link href="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.css" rel="stylesheet">
<script src="https://cdn.jsdelivr.net/npm/summernote@0.8.18/dist/summernote-lite.min.js"></script>

<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Envio Masivo de Correos</h6>
                </div>
            </div>
            <div class="card-body p-3 pb-2">
                <div class="table-responsive p-0">
                    @using (Html.BeginForm("Index", "Envios", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div class="input-group input-group-outline mb-3 ">
                            <label class="control-label col-md-3">Destinatario</label>
                            <div class="col-md-10">
                                <select class="form-control" id="para" name="para" multiple="multiple">
                                    <option value="Emp">Empleados</option>
                                    <option value="Cli">Clientes</option>
                                </select>
                            </div>
                        </div>
                        <div class="input-group input-group-outline mb-3 ">
                            <label class="control-label col-md-2">Asunto </label>
                            <div class="col-md-10">
                                <input class="form-control" id="asunto" name="asunto" type="text" />
                            </div>
                        </div>

                        <label>Cuerpo</label>
                        <textarea type="text" name="body" id="body"></textarea>
                        @*<div name="body" id="body" class="summernote"></div>*@

                        <input type="submit" value="enviar" class="btn btn-primary px-3 my-2" />
                    }
                </div>
            </div>

        </div>

    </div>
</div>

<script>

    jQuery(document).ready(function () {
        $('#para').select2();
            jQuery('#body').summernote({
                height: "500px",
                callbacks:{

                    onImageUpload: function (files) {
                        sendFile(files);
                    }
                }

            });
        });
        function sendFile(file) {
            datos = new FormData();
            datos.append("file", file[0]);

  fetch('@Url.Action("LoadFile", "Envios")', {
      method: 'POST',
      body: datos
  })
.then(response => response.json())
.then(data => {
    var imgNode = document.createElement('img');  
    imgNode.src = data;
    $('#body').summernote('insertNode', imgNode);  
})
.catch(error => {
console.error(error)
})
}

</script>
