﻿body {
    padding:0;
    margin:0;
    box-sizing:border-box;
    background:white
}
.formulario {
    width: 400px;
    background: white;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:20px;
    box-shadow: 0px 0px 5px 5px gray;
}
.formulario div{
    width:100%;
}
.formulario div input{
    min-width:100%;
}


