﻿.contenedor {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: white;
}

.cabecera {
    width: 100%;
    height: 50px;
    background: gold;
}
.cuerpo {
    width: 100%;
    display:flex;
}
.menu-contenedor {
    background: black;
    min-height:calc(100vh - 50px);
    padding:0;
}

.menu li a {
    color: white;
}




.icon-menu {
    height: 100%;
    padding: 0;
}

    .icon-menu a {
        background: black;
        color: white;
        width: 100%;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
.aparecer {
    display: block;
}




.menu {
    display: flex;
    flex-direction:column;
    padding:0;
 
}
.menu li{
    width:100%;
    display:flex;
    flex-direction:column;
}

    .menu li > a {
        display: block;
        width: 100%;
        
        color: white;
        text-decoration: none;
        font-size: 18px;
        text-align: center;
        position: relative;
        padding: 5px 15px;
        display: flex;
        flex-direction: row;
    }

    .menu li ul li a {
        background: white;
        color: black;
    }

    .menu > li a:hover, .activado {
        background: gold;
        color: black;
    }

    .menu li ul {
        display:none;
        padding:0;

    }


