﻿
body{
    padding:0;
    background:rgb(240,240,240);
}
li{
    list-style:none;
}
.cabecera {
    padding:0;
    background:white;

}
.logo img{
    display:block;
    margin:auto
}
.navbar{
    margin:0;
    padding:0;
    display:flex;
    align-items:center;

}

.carrito{
    display:flex;
    align-items:center;
    justify-content:flex-end

}
.carrito a{
    display:flex;
    align-items:flex-end;
    justify-content:center
}
.carrito i{
    color:black;
    font-size:25px;
    margin:5px;
    
}


.icon-menu {
    background:black;
    padding:0 35px;
    color:white
}
.buscar {
    min-width: 100%;
    height: 40px;
}

.buscador button {
    height: 40px;
    background: black;
    color: white;
}
.menu1 li{
    display:flex;
    flex-grow:1;
}
.menu2 {
    display: flex;
    border-bottom: 1px solid rgb(220,220,220);
    border-top: 1px solid rgb(220,220,220);
}
.buscador{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100%;
}
ul li{
    display:flex;
    flex-grow:1;


}
#banner img{
    max-height:500px;
}

main > div{
    margin: 10px 0px;
}
figure{
    display:flex;
    flex-direction:column;
}
.content-categoria{
    display:flex;
    flex-direction:row;
}
.categoria{
    display:flex;
    justify-content:center;
    align-items:center;
    width:20%;
    padding:10px;
    
}
    .categoria img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        box-shadow: 2px 2px 2px 2px rgb(128, 128, 128);
    }
.promociones {
    background: white;
}
    .promociones h2 {
       
        font-size: 25px;
        border-bottom:3px solid rgb(240,240,240)

    }
        .promociones h2 span {
            padding: 10px 25px;
            display: table;
            color: #184E91;
            border-bottom: 3px solid #184E91;
        }

.promociones figure{
    width:300px;
    padding:10px;
    margin:10px;
    box-shadow:2px 2px 4px 2px rgb(128, 128, 128);
}
.promociones img{
    width:90%;
    display:block;
    margin:auto;
    height:250px
}

.ofertas-group {
    display: flex;
    flex-direction: row;
    width:100%;
}
.ofertas-group .ofertas-imagenes{
    width:33.33%;
 
}
.ofertas-group .ofertas-imagenes img {
        display: block;
        width: 100%;
        height: auto;
 }
.banner-ofertas img{
    width:100%;
    max-height:200px;
}
.categorias{
    display:flex;
    flex-direction:row
}
.categorias div{
    width:50%;
    margin:5px;
}
.categorias img{
    width:100%;

}
.categorias-left img{
    height:400px;
}
.categorias-rigth img {
    height: 200px;
}



footer{
    background-color:black;
    color:white;
    padding:50px;
    padding-bottom:5px;
}

    .row div{

        min-width:33.33%;
    }


form {
    width: 100%;
    margin: 0 auto;
}
form p{
    text-align:center;
}


input[type="radio"] {
    display: none;
}

label {
    padding:0;
    font-size: 20px;
    color: gold;
}

.clasificacion {
    direction: rtl;
    unicode-bidi: bidi-override;
}

