﻿@model Proyecto_dsw1.Models.persona

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout - Copia.cshtml";
}

<h2>Details</h2>

<div>
    <h4>persona</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nom_persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ape_persona)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ape_persona)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_dir)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_dir)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_usuario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_usuario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_persona }) |
    @Html.ActionLink("Back to List", "Index")
</p>
