﻿@model IEnumerable<Proyecto_dsw1.Models.persona>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Copia.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nom_persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ape_persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_dir)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nom_persona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ape_persona)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_dir)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_persona }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_persona }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_persona })
        </td>
    </tr>
}

</table>
