﻿@model IEnumerable<Proyecto_dsw1.Entity.Categoria>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Copia.cshtml";
}

<h2>Lista de Categorias</h2>

<p>
    @Html.ActionLink("Nuevo", "Create", "Categoria",  new {@class="btn btn-primary" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.id_cate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_cate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.id_cate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_cate)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id = item.id_cate }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.id_cate })
        </td>
    </tr>
}

</table>
