﻿
@model Proyecto_dsw1.Data.banner
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<style>
    .imagenes-banner {
        width: 800px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .contenedor-imagenes {
        display: flex;
        flex-wrap: wrap;
    }

    .imagenes {
        display: flex;
        width: 250px;
        height: 250px;
        border: 5px solid;
        position: relative;
    }

        .imagenes img {
            width: 100%;
        }

        .imagenes:hover span {
            display: flex;
        }

        .imagenes span {
            position: absolute;
            background: red;
            color: white;
            top: 5px;
            right: 5px;
            color: red;
            width: 25px;
            height: 25px;
            font-size: 25px;
            display: none;
            justify-content: center;
            align-items: center;
            cursor: pointer;
        }
    #imagenPrevisualizacion {
        min-height: 300px;
    }
    #imagen-principal {
        display : block;
    }
</style>

<div>
    <h2>Carrusel</h2>
    <p>
        El carrusel aparecerá en tu página web y es una excelente
        opción para ofrecer tus productos y/o promociones
    </p>
    <div class="imagenes-banner" >
       <img src="" id="imagen-principal" class="imagen-principal" height="300px" />

        <input data-target="#ingresar" data-toggle="modal" class="btn btn-primary m-3" type="button" value="Agregar imágen ">
    </div>
    <div class="contenedor-imagenes col-lg-10 col-sm-12">
       
        @*@foreach (var item in ViewBag.banner)
        {
            var codigo = item.id_banner;
            <div class="imagenes">
                <span><a style="color:white" class="anchorElim" onclick="eliminar(@item.id_banner)">x</a></span>
                <img class="imagen-banner" src="@Url.Action("getImage", "Carrusel", new { id_prod = @codigo })" />
            </div>

        }*@
    </div>
    <div class="modal fade bd-example-modal-lg" id="ingresar" tabindex="-1" role="dialog"
         aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Seleccione imágen</h5>

                    <button type="button" class="close" data-dismiss="modal"
                            aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div id="divFileUpload">
                        @using (Html.BeginForm("Create", "Carrusel", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-horizontal">

                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <img id="imagenPrevisualizacion" min-height="300px" width="100%" height="auto" />
                                        <input id="seleccionArchivos" type="file" name="imageload" accept="image/*" />
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" class="btn btn-primary" value="Guardar" />
                                        <button class="btn btn-outline-primary" type="button" data-dismiss="modal">
                                            Cerrar
                                        </button>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>


                </div>
            </div>
        </div>
    </div>

</div>
<script>

       $(document).ready( function () {

    listar();

$('.imagen-banner').click(function () {
        var imagen = $(this).prop('src');

        document.getElementById("imagen-principal").src = imagen;

    });

} );

function cambiarImgen(){

}



    function listar(){
         $.ajax
    ({
        type: "GET",
        url: '/Carrusel/GetData',
        //data: { "id": ids },
        contentType: "application/json; charset=utf-8",
        dataType: "json",
        success: function (data) {

$('#imagen-principal').attr('src','/Carrusel/getImage?id_prod='+data[0].id_banner);

$('.contenedor-imagenes').html('');
            for(var i=0;i<data.length;i++){



$( ".contenedor-imagenes" ).append( '<div class="imagenes">'+
                '<span><a style="color:white" class="anchorElim" onclick="eliminar('+data[i].id_banner+')">x</a></span>'+
               ' <img class="imagen-banner" src="/Carrusel/getImage?id_prod='+data[i].id_banner+'" />'+
            '</div>" ');
}
        },
        error: function (xhr, ajaxOptions, thrownError) {
            // always error method is getting called
            var somthing = "pankajDubey";
        }
    });
}
    function eliminar(id) {

        var urlSave = '/Carrusel/Delete?id=' + id;
        Swal.fire({
            title: 'Esta seguro de eliminar la imágen?',
            text: "Esta acción es irreversible!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Si, eliminar'
        }).then((result) => {
            if (result.isConfirmed) {

                $.ajax
                    ({
                        type: "POST",
                        url: urlSave,
                        //data: { "id": ids },
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (data) {


                           
                            if (data.codigo == 1){

                            listar();
                                toastr.success(data.output);


                            }else
                                toastr.error(data.output);
                        },
                        error: function (xhr, ajaxOptions, thrownError) {
                            // always error method is getting called
                            var somthing = "pankajDubey";
                        }
                    });
            }
        })

    }
    function readFile(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                document.getElementById('imagen').src = e.target.result;
            }
            reader.readAsDataURL(input.files[0]);
        }
    }

    var fileUpload = document.getElementById('file-upload');
    fileUpload.onchange = function (e) {
        readFile(e.srcElement);
    }



</script>
<script>
    const $seleccionArchivos = document.querySelector("#seleccionArchivos"),
        $imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");

    $seleccionArchivos.addEventListener("change", () => {

        const archivos = $seleccionArchivos.files;

        if (!archivos || !archivos.length) {
            $imagenPrevisualizacion.src = "";
            return;
        }

        const primerArchivo = archivos[0];

        const objectURL = URL.createObjectURL(primerArchivo);

        $imagenPrevisualizacion.src = objectURL;
    });
</script>
