﻿

@{
    ViewBag.Title = "AgregarCarrito";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}


@{
    double total = 0;
}
<div class="row px-xl-5">
    <div class="col-lg-8 table-responsive mb-5">
        <table class="table table-bordered text-center mb-0">
            <thead class="bg-secondary text-dark">
                <tr>
                    <th>Products</th>
                    <th>Price</th>
                    <th>Quantity</th>
                    <th>Total</th>
                    <th>Remove</th>
                </tr>
            </thead>
            <tbody class="align-middle">
                @if (Session["carrito"] != null)
                {
                    List<Proyecto_dsw1.Models.Carrito> lista = (List<Proyecto_dsw1.Models.Carrito>)Session["carrito"];
                    if (lista.Count > 0)
                    {
                        foreach (var item in Session["carrito"] as List<Proyecto_dsw1.Models.Carrito>)
                        {
                            total += (item.Cantidad * double.Parse(item.producto.pre_prod.ToString()));
                            <tr>
                                <td class="align-middle"><img src="@Url.Action("getImage", "Producto", new { id_prod = item.producto.id_prod })" alt="" style="width: 50px;">@item.producto.nom_prod</td>
                                <td class="align-middle">$150</td>
                                <td class="align-middle">
                                    <div class="input-group quantity mx-auto" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-minus">
                                                <i class="fa fa-minus"></i>
                                            </button>
                                        </div>
                                        <input type="text" class="form-control form-control-sm bg-secondary text-center" value="@item.Cantidad">
                                        <div class="input-group-btn">
                                            <button class="btn btn-sm btn-primary btn-plus">
                                                <i class="fa fa-plus"></i>
                                            </button>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">@String.Format("{0:C}", item.producto.pre_prod)</td>
                                <td class="align-middle"><button class="btn btn-sm btn-primary"><i class="fa fa-times"> @Html.ActionLink("Eliminar", "Delete", new { controller = "Carrito", id_prod = item.producto.id_prod })</i></button></td>
                            </tr>
                        }
                    }
                    else
                    {
                        <div class="carritoVacio">
                            <i class="fas fa-cart-arrow-down"></i>
                            <h2>NO TIENES PRODUCTOS EN TU CARRITO</h2>
                            <p>Encuentra las mejores prendas de vestir al mejor precio</p>
                            @Html.ActionLink("Comprar Ahora", "Pagina_principal", "Home", new { @class = "btn comprar" })
                        </div>
                    }
                }


            </tbody>
        </table>
    </div>
    <div class="col-lg-4">
        <form class="mb-5" action="">
            <div class="input-group">
                <input type="text" class="form-control p-4" placeholder="Coupon Code">
                <div class="input-group-append">
                    <button class="btn btn-primary">Apply Coupon</button>
                </div>
            </div>
        </form>
        <div class="card border-secondary mb-5">
            <div class="card-header bg-secondary border-0">
                <h4 class="font-weight-semi-bold m-0">Cart Summary</h4>
            </div>
            <div class="card-body">
                <div class="d-flex justify-content-between mb-3 pt-1">
                    <h6 class="font-weight-medium">Subtotal</h6>
                    <h6 class="font-weight-medium">S/ @total</h6>
                </div>
                @*<div class="d-flex justify-content-between">
                    <h6 class="font-weight-medium">Shipping</h6>
                    <h6 class="font-weight-medium">$10</h6>
                </div>*@
            </div>
            <div class="card-footer border-secondary bg-transparent">
                <div class="d-flex justify-content-between mt-2">
                    <h5 class="font-weight-bold">Total</h5>
                    <h5 class="font-weight-bold">S/ @total</h5>
                </div>
                <button class="btn btn-block btn-primary my-3 py-3">Proceed To Checkout</button>
            </div>
        </div>
    </div>
</div>