﻿@model Proyecto_dsw1.Data.producto

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>
    .contenedor-carrito-detalle{
        display:flex;
        flex-direction:row;
    }.detalle-imagen{
         padding:20px;
     }
    
    .detaller-descripcion{
        padding:10px;
    }
    .precio{
        color:red
    }
    .agregar{
        background:gold;
        color:black;
    }
    img{
        max-height:400px;
    }
</style>
    <div class="container contenedor-carrito-detalle">
        <div class="detalle-imagen col-lg-8">
            <img class="card-img-top" width="100%" src="@Url.Action("getImage", "Producto", new { id_prod = Model.id_prod })" alt="Card image cap">
        </div>
        <div class="detaller-descripcion">
            <h1>@Model.nom_prod</h1>
            <p>@Model.desc_prod</p>
            <p>@Model.marca</p>
            <h2 class="precio">S/. @Model.pre_prod</h2>

            <div>
                @using (Html.BeginForm("AgregarCarrito", "Carrito"))
                {
                    <input type="text" name="cantidad" />
                    <input type="hidden" name="id_prod" value="@Model.id_prod"/>
                    <button type="submit">Enviar</button>
                }
            </div>
        </div>
    </div>
   



