﻿@model Proyecto_dsw1.Data.promociones

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Nueva Promoción</h2>

<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <div class="row">
        <hr />
        <div class="form-group">
            @Html.LabelFor(model => model.vc_descripcion, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.vc_descripcion, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.vc_descripcion, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.in_id_producto, "producto.nom_prod", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("in_id_producto", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.in_id_producto, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-2">
            <div class="col-md-10">
                <select class="vc_tipo" name="vc_tipo">
                    <option value="1">S/.</option>
                    <option value="2">%</option>
                </select>
            </div>
        </div>

        <div class="col-lg-10">
            <div class="col-md-10">
                @Html.EditorFor(model => model.dc_prec_desc, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dc_prec_desc, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-6">
            @Html.LabelFor(model => model.dt_fec_ini, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dt_fec_ini, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dt_fec_ini, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="col-lg-6">
            @Html.LabelFor(model => model.dt_fec_fin, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.dt_fec_fin, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.dt_fec_fin, "", new { @class = "text-danger" })
            </div>
        </div>



        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </div>
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/select2.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        $('#in_id_producto').select2();
        $("#dt_fec_ini").datepicker();
        $("#dt_fec_fin").datepicker();
       
    });
</script>