﻿@model Proyecto_dsw1.Data.promociones

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>promociones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_tipo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dc_prec_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dc_prec_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dc_porc_desc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dc_porc_desc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_ini)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_ini)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_fin)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_fin)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_user_reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_user_reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_user_mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_user_mod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_mod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.producto.vc_cod_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.producto.vc_cod_prod)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
