﻿@model IEnumerable<Proyecto_dsw1.Data.promociones>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link href="~/Content/css/select2.min.css" rel="stylesheet" />
<link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />

<style>
    .select2 {
        width: 100% !important;
    }

    .icono {
        font-size: 20px;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Promociones</h6>
                   <div>
                       <span title="Nuevo" data-target="#ingresar" data-toggle="modal" class="p-2 btn-dark m-1 fa fa-plus"></span>
                       <span title="Excel" data-target="#ingresar" data-toggle="modal" class="p-2 btn-dark text-success m-1 fa fa-file-excel-o"></span>
                       
                   </div>
                    
                </div>
            </div>
            <div class="card-body p-3 pb-2">
                <div class="table-responsive p-0">
                    <table class="table table-striped">
                        <thead class="bg-gradient-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.producto.imagen)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.producto.nom_prod)
                                </th>
                                <th>
                                    Vigencia
                                </th>
                                <th>
                                    Precio Regular
                                </th>
                                <th>
                                    descuento
                                </th>
                                <th>
                                    Precio Final
                                </th>

                                <th>Creado por</th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <img width="100px" height="100px" src="@Url.Action("getImage","Producto",new { id_prod =item.producto.id_prod })" />
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.producto.nom_prod)
                                </td>
                                <td>
                                    @Convert.ToDateTime(item.dt_fec_ini).ToString("dd/MM/yyyy")- @Convert.ToDateTime(item.dt_fec_fin).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.producto.pre_prod)
                                </td>
                                <td>
                                    @if (item.vc_tipo == "1")
                                    {
                                        <b class="text-danger"> - S/. @Html.DisplayFor(modelItem => item.dc_prec_desc)</b>

                                    }
                                    else
                                    {
                                        <b class="text-danger">- @Html.DisplayFor(modelItem => item.dc_prec_desc) %</b>
                                    }
                                </td>
                                <td>
                                    @if (item.vc_tipo == "1")
                                    {
                                        <b style="color:blue">@(String.Format("{0:0.00}", (item.producto.pre_prod - item.dc_prec_desc)))</b>

                                    }
                                    else
                                    {
                                        <b style="color:blue">@(item.producto.pre_prod * ((100 - item.dc_prec_desc) / 100))</b>
                                    }

                                </td>

                                <td>
                                    @Html.DisplayFor(modelItem => item.vc_user_reg)
                                    | @Convert.ToDateTime(item.dt_fec_reg).ToString("dd/MM/yyyy")
                                </td>
                                <td>
                                    <a href="@Url.Action("Edit", new { id=item.in_id_promocion })"><span class="fa fa-edit text-warning icono"></span></a>
                                    <a href="@Url.Action("Delete", new { id=item.in_id_promocion })"><span class="fa fa-trash text-danger icono"></span></a>
                                </td>
                            </tr>
                        }

                    </table>
                </div>
        </div>
    </div>
</div>
</div>
<div class="modal fade bd-example-modal-lg" id="ingresar" tabindex="-1" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-md" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Nueva Promoción</h5>

                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                @using (Html.BeginForm("Create", "promociones", FormMethod.Post))
                {
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <hr />

                        <div class="col-12">
                            producto
                            <div class="input-group input-group-outline mb-3">
                                @Html.DropDownList("in_id_producto", null, "Seleccione", htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-6">
                            Precio actual
                            <strike class="form-control" id="precioProdAntes" name="precioProd">0.00</strike>
                        </div>
                        <div class="col-6">
                            Precio con descuento
                            <label class="form-control" id="precioProd" name="precioProd">0.00</label>
                        </div>
                        <div class="col-2">
                            <div class="input-group input-group-outline mb-3 ">
                                <select id="tipoDescuento" class="form-control" name="vc_tipo">
                                    <option value="1">S/.</option>
                                    <option value="2">%</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-lg-10">
                            <div class="col-md-12 input-group input-group-outline mb-3">
                                <input onkeyup="cambiarPrecio(this.value)" id="preProducto" class="form-control" name="dc_prec_desc" />
                            </div>
                        </div>

                        <div class="col-lg-6">
                            Fecha Inicio
                            <div class="col-md-12 input-group input-group-outline mb-3">
                                <input class="form-control" id="fecha_ini" name="dt_fec_ini" />
                            </div>
                        </div>

                        <div class="col-lg-6 ">
                            Fecha Fin
                            <div class="col-md-12 input-group input-group-outline mb-3">
                                <input class="form-control" id="fecha_fin" name="dt_fec_fin" />
                            </div>
                        </div>



                        <div class="form-group ">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                            </div>
                        </div>
                    </div>
                }


            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/select2.min.js" type="text/javascript"></script>
<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script>

    $(document).ready(function () {
        $('#in_id_producto').select2();
        $("#fecha_ini").datepicker({ format: 'dd/mm/yyyy' });
        $("#fecha_fin").datepicker({ format: 'dd/mm/yyyy' });

        $('#in_id_producto').select2().on('change', function () {
            mostrarProducto($(this).val());
        }).trigger('change');

        $('#preProducto').mask('#,##0.00', { reverse: true });
        $('#preProducto').keyup(function () {
            cambiarPrecio($('#preProducto').val());
        });


    });
    function cambiarPrecio(obj) {
        var select = document.querySelector('#tipoDescuento');
        var antes = document.getElementById('precioProdAntes').innerHTML;
        var descuento = obj;
        if ($.isNumeric(descuento)) {

            if (select.value == '1') {
                var nuevoPrecio = antes - descuento;
                document.getElementById('precioProd').innerHTML = 'S/. ' + nuevoPrecio.toFixed(2);
            } else if (select.value == '2') {
                var nuevoPrecio = antes * ((100 - descuento) / 100);
                document.getElementById('precioProd').innerHTML = 'S/. ' + nuevoPrecio.toFixed(2);
            }
        } else if (descuento == '') {
            document.getElementById('precioProd').innerHTML = 'S/. 0.00';
        }



    }

    function mostrarProducto(id) {
        $.ajax
   ({
       type: "GET",
       url: '/promociones/obtenerProducto',
       data: { "id_prod": id },
       contentType: "application/json; charset=utf-8",
       dataType: "json",
       success: function (data) {
           if (data.obj != null && data.codigo == 0)
               document.getElementById('precioProdAntes').innerHTML = data.obj.pre_prod.toFixed(2);

       },
       error: function (xhr, ajaxOptions, thrownError) {
           // always error method is getting called
           var somthing = "pankajDubey";
       }
   });
    }
</script>
