﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .bg-yellow {
        background: yellow !important;
    }
    input,select {
        background:white !important;
    }
</style>
<link href="~/lib/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css" rel="stylesheet" />
<script src="~/lib/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js" type="text/javascript"></script>
<script>
    $(document).ready(function () {
        var date = new Date();
        $("#fecini").val(date.getDate() + "/" + (date.getMonth()) + "/" + date.getFullYear());
        $("#fecfin").val(moment().format('DD/MM/YYYY'));

        $("#fecini").datepicker({ format: 'dd/mm/yyyy' });
        $("#fecfin").datepicker({ format: 'dd/mm/yyyy' });

        $('#numpedido').mask('###', { reverse: true });
        verDatos();
    });
    function verDatos() {
        var fecini = $('#fecini').val();
        var fecfin = $('#fecfin').val();
        var estado = $('#estado').val();
        var numpedido = $('#numpedido').val();

        var tbl = $('#table');
        fetch('/Ventas/listadoPedidos?fechaini=' + fecini + '&fechaFin=' + fecfin + '&numpedido=' + numpedido + '&estado=' + estado, {
            method: 'GET'
        })
        .then(response => response.json())
        .then(data => {
            // var a2 = JSON.parse(data);
            tbl.html('')
            $.each(data, function (key, value) {

                tbl.append('<tr>');
                if (value.ESTADO.includes('Recibido'))
                    tbl.append('<td class="p-2"><span class="label bg-success text-white">Recibido</span></td>');
                else if (value.ESTADO.includes('Enviado'))
                    tbl.append('<td class="p-2"><span class="label bg-warning text-white">Enviado</span></td>');
                else if (value.ESTADO.includes('Realizado'))
                    tbl.append('<td class="p-2"><span class="label bg-yellow">Realizado</span></td>');
                else
                    tbl.append('<td class="p-2"></td>');
                tbl.append('<td>' + value.vc_num_pedido + '</td>');
                tbl.append('<td>' + value.cliente + '</td>');
                tbl.append('<td>' + value.fecha_reg + '</td>');
                tbl.append('<td>' + value.hora_reg + '</td>');
                tbl.append('<td>' + value.DT_SUBTOTAL + '</td>');
                tbl.append('<td>' + value.DT_DESCUENTO + '</td>');
                tbl.append('<td>' + value.total + '</td>');
                tbl.append('</tr>');
            });
        })
        .catch(error => {
            alert('Lo siento, no se pudo obtener la lista de pedidos.');
            console.error(error)
        })
    }


</script>


<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Promociones</h6>
                    <div>
                        <div class="input-group input-group-outline mb-3 ">
                            <div class="row">
                                <div class="col-6 row">
                                    <div class="col-6">
                                       <span class="text-white"> Fecha Incio</span>
                                        <input type="text" class="form-control" id="fecini" />
                                    </div>
                                    <div class="col-6">
                                        <span class="text-white"> Fecha Fin</span> 
                                        <input type="text" class="form-control" id="fecfin" />
                                    </div>
                                </div>



                                <div class="col-3">
                                    <span class="text-white"> Num. Pedido</span>  
                                    <input maxlength="10" type="text" class="form-control" id="numpedido" />
                                </div>
                                <div class="col-2">
                                    <span class="text-white">Estado</span>
                                    <select class="form-control" id="estado">
                                        <option value="Realizado">Realizado</option>
                                        <option value="Enviado">Enviado</option>
                                        <option value="Recibido">Recibido</option>
                                    </select>

                                </div>
                                <div class="col-1">
                                    <br />
                                   <span class="p-2 btn-dark fa fa-search" onclick="verDatos()" ></span>
                                </div>
                            </div>
                        </div>
                        @*<span title="Excel" data-target="#ingresar" data-toggle="modal" class="p-2 btn-dark text-success m-1 fa fa-file-excel-o"></span>*@

                    </div>

                </div>
            </div>
            <div class="card-body p-3 pb-2">
                <div class="table-responsive p-0">
                   


                    <table class="table table-striped">
                        <thead class="bg-gradient-dark text-white">
                            <tr>
                                <th>Estado</th>
                                <th>Num. Pedido</th>
                                <th>Cliente</th>
                                <th>Fec. Registro</th>
                                <th>Hora Registro</th>
                                <th>Subtotal</th>
                                <th>Descuento</th>
                                <th>Total</th>
                            </tr>
                        </thead>
                        <tbody id="table"></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>