﻿@model IEnumerable<Proyecto_dsw1.Data.producto>

@{
    ViewBag.Title = "Buscar";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<style>
    main{
        display:flex;
        flex-wrap:wrap;
    }
</style>
    <main>

        @foreach (var item in Model)
        {

            <div class="card" style="width: 300px;">
                <img class="card-img-top" width="100%" src="@Url.Action("getImage", "Producto", new { id_prod = item.id_prod })" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">@Html.DisplayFor(modelItem => item.nom_prod)</h5>
                    <p class="card-text"> @Html.DisplayFor(modelItem => item.pre_prod)</p>

                    @Html.ActionLink("Ver producto", "Details", new { controller = "Carrito", id = item.id_prod })
                </div>
            </div>

        }

    </main>
