﻿@model Proyecto_dsw1.Data.producto


@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Ingresar Nuevo Producto</h2>


@using (Html.BeginForm("Create","Producto",FormMethod.Post,new { enctype="multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-group">
        @Html.LabelFor(model => model.imagen, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            <img width="200px" height="200px" id="imagenPrevisualizacion">
            <input type="file" name="imageload" id="seleccionArchivos" accept="image/*" />
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.nom_prod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.nom_prod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.nom_prod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.desc_prod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.desc_prod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.desc_prod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.pre_prod, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.pre_prod, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.pre_prod, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.marca, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.marca, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.marca, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_genero, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownList("id_genero", (SelectList)ViewBag.generos)
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.stock, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.EditorFor(model => model.stock, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.stock, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.id_cate, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @*editado*@
            @Html.DropDownList("id_cate", (SelectList)ViewBag.categorias)
        </div>
    </div>
    @ViewBag.mensaje


    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Guardar" class="btn btn-default" />
        </div>
    </div>
</div>
}
<script>
    const $seleccionArchivos = document.querySelector("#seleccionArchivos"),
  $imagenPrevisualizacion = document.querySelector("#imagenPrevisualizacion");

$seleccionArchivos.addEventListener("change", () => {
 
  const archivos = $seleccionArchivos.files;

  if (!archivos || !archivos.length) {
    $imagenPrevisualizacion.src = "";
    return;
  }

  const primerArchivo = archivos[0];

  const objectURL = URL.createObjectURL(primerArchivo);

  $imagenPrevisualizacion.src = objectURL;
});
</script>