﻿@model Proyecto_dsw1.Data.producto

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Eliminar Producto</h2>

<h3>¿Estas seguro de eliminar el producto?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nom_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nom_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.pre_prod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.pre_prod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_genero)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_genero)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_cate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.activo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.activo)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
