﻿@{
    ViewBag.Title = "Home Page";
}
<style>
    .contenedor{
        width:100%;
        height:500px;
       display:flex;
       flex-direction:row;
    }
    .menu-contenedor{+6
        height:100%;
        background:red;
    }

</style>
<div class="contenedor">
    <div class="menu-contenedor col-lg-2">
        <ul class="menu">
            <li><a>Inicio</a></li>
            <li><a>Productos</a></li>
            <li><a>Banner</a></li>
            <li><a>Usuarios</a></li>

        </ul>
    </div>
    <div class="contenido">

    </div>
</div>