﻿@model Proyecto_dsw1.Data.login

@{
    ViewBag.Title = "LoginAdmin";
    Layout = "~/Views/Shared/_LayoutLoginAdmin.cshtml";
}
@using (Html.BeginForm("LoginAdmin", "Home", FormMethod.Post))
{

    <div class="input-group input-group-outline my-3">
        <label class="form-label">Usuario</label>
        <input id="vc_usuario" name="vc_usuario" type="text" class="form-control">
    </div>
    <div class="input-group input-group-outline mb-3">
        <label class="form-label">Contraseña</label>
        <input id="vc_password" name="vc_password" type="password" class="form-control">
    </div>

    <div class="text-center">
        <input type="submit" class="btn bg-gradient-primary w-100 my-4 mb-2" value="Ingresar">
    </div>
   
}
