﻿@model IEnumerable<Proyecto_dsw1.Entity.Producto>

@{
    ViewBag.Title = "ProductosVista";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@foreach (var item in Model) {
            <figure>
                <img src="@Url.Action("getImage","Producto",new {id=item.id_prod })"/>
                <h2> @Html.DisplayFor(modelItem => item.nom_prod)</h2>
                <p> @Html.DisplayFor(modelItem => item.pre_prod)</p>

            </figure>
     
}

