﻿@model Proyecto_dsw1.Data.configuraciones

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>configuraciones</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_celular)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_celular)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_color_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_color_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_ruta_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ruta_imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.bt_imagen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.bt_imagen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_user_reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_user_reg)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_user_mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_user_mod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_mod)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_mod)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.vc_ruta_corta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_ruta_corta)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
