﻿@model Proyecto_dsw1.Data.configuraciones

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>

    input[type="file"]#file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    label[for="file"] {
        display: block;
        width: 250px;
        color: #fff;
        background-color: #106BA0;
        display: inline-block;
        transition: all .5s;
        cursor: pointer;
        padding: 5px 15px !important;
        text-transform: uppercase;
        text-align: center;
    }
</style>


@using (Html.BeginForm("Edit", "configuraciones", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="d-flex flex-column col-3">
            <img src="@Model.vc_ruta_corta" id="imgLogo" width="250px" height="300px" />

            <label class="btn btn-primary" for="file">Subir archivo</label>
            <input id="file" type="file" name="file" class="input-file" accept="image/*" value="" />
            @Html.HiddenFor(model => model.vc_ruta_imagen)
            @Html.HiddenFor(model => model.vc_ruta_corta)
            @Html.HiddenFor(model => model.bt_imagen)
        </div>


        <div class="col-7">
            @Html.HiddenFor(model => model.in_id)

            <div class="form-group">
                <div class="col-md-10">
                    <h2>@Html.EditorFor(model => model.vc_nombre, new { htmlAttributes = new { @class = "form-control" } })</h2>
                    @Html.ValidationMessageFor(model => model.vc_nombre, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vc_email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vc_email, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vc_celular, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vc_celular, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-10">
                    @Html.EditorFor(model => model.vc_telefono, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.vc_telefono, "", new { @class = "text-danger" })
                </div>
            </div>

            @Html.HiddenFor(model => model.vc_estado)

            <div class="form-group">
                <div class="d-flex flex-row">
                    <input type="submit" value="Guardar" class="btn btn-primary m-1" />
                    <input type="button" value="Cancelar" class="btn btn-outline-primary m-1" onclick="location.href='@Url.Action("Index","configuraciones")'" />
                </div>
            </div>
        </div>
    </div>
}
<script src="~/lib/jquery/dist/jquery.min.js"></script>

<script type="application/javascript">
    $('input[type=file]').change(function(){
        var filename = $(this).val().split('\\').pop();
        var idname = $(this).attr('id');
        $('span.'+idname).next().find('span').html(filename);
    });
    $(document).ready(function(){
        if('@ViewBag.mensaje' == 'success'){
            Swal.fire(
                '',
                'Guardado con éxito',
                'success'
            )
        }
    });
    if (window.history.replaceState) { // verificamos disponibilidad
        window.history.replaceState(null, null, window.location.href);
    }
    document.cookie = 'cookie2=value2; SameSite=None; Secure';
</script>

