﻿@model IEnumerable<Proyecto_dsw1.Data.configuraciones>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.vc_nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_celular)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_telefono)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_color_empresa)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_ruta_imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bt_imagen)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_fec_reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_user_reg)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_user_mod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_fec_mod)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.vc_ruta_corta)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.vc_nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_celular)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_telefono)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_color_empresa)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_ruta_imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bt_imagen)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_fec_reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_user_reg)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_user_mod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_fec_mod)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.vc_ruta_corta)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.in_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.in_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.in_id })
        </td>
    </tr>
}

</table>
