﻿@model Proyecto_dsw1.Data.notificacion

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div>
    <h4>notificacion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.vc_descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_descripcion)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.in_id_referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.in_id_referencia)
        </dd>*@

        @*<dt>
            @Html.DisplayNameFor(model => model.vc_tipo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_tipo)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.vc_nro_doc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_nro_doc)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.vc_leido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.vc_leido)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.dt_fec_reg)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dt_fec_reg)
        </dd>

    </dl>
</div>
<p>
    <a class="btn btn primary" href="@Url.Action("Index")">Volver</a>
</p>
