﻿@model IEnumerable<Proyecto_dsw1.Data.notificacion>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<style>
    .tr_noleido {
        background: #B9DAE7;
    }
</style>
<div class="row">
    <div class="col-12">
        <div class="card my-4">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg pt-4 pb-3 d-flex justify-content-between">
                    <h6 class="text-white text-capitalize ps-3">Notificiones</h6>
                    <div>


                    </div>

                </div>
            </div>
            <div class="card-body p-3 pb-2">
                <div class="table-responsive p-0">
                    <table class="table table-striped">
                        <thead class="bg-gradient-dark text-white">
                            <tr>
                                <th>
                                    @Html.DisplayNameFor(model => model.vc_descripcion)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vc_tipo)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.vc_nro_doc)
                                </th>
                                <th>
                                    @Html.DisplayNameFor(model => model.dt_fec_reg)
                                </th>
                                <th></th>
                            </tr>
                        </thead>
                        @foreach (var item in Model)
                        {
                            if (item.vc_leido == "0")
                            {
                                <tr class="tr_noleido">
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vc_descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vc_tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vc_nro_doc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dt_fec_reg)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Ver", "Details", new { id = item.in_id_notificacion })
                                    </td>
                                </tr>
                            }
                            else
                            {

                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vc_descripcion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vc_tipo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.vc_nro_doc)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.dt_fec_reg)
                                    </td>
                                    <td>
                                        @Html.ActionLink("Ver", "Details", new { id = item.in_id_notificacion })
                                    </td>
                                </tr>
                            }
                        }

                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
