﻿@model IEnumerable<Proyecto_dsw1.Entity.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout - Copia.cshtml";
}

<h2>Lista de Usuarios</h2>
<br />
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<br />
<table class="table">
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.id_usuario)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.correo)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.pass_usuario)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.tipo_usuario)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.id_usuario)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.correo)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.pass_usuario)
        </td>
        <td class="text-center">
            @Html.DisplayFor(modelItem => item.tipo_usuario)
        </td>
        <td class="text-center"s>
            @Html.ActionLink("Bloquear Usuario", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
