﻿@model Proyecto_dsw1.Entity.Usuario

@{
    ViewBag.Title = "Loguearse";
    Layout = "~/Views/Shared/_Layout - Login.cshtml";
}
<link href="~/Content/estilosLogin.css" rel="stylesheet"/>
<div>
    @using (Html.BeginForm("Loguearse", "Usuario", FormMethod.Post, new { @class = "formulario" }))
    {
        @Html.AntiForgeryToken()

        <h3>Iniciar Sesión</h3>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">

            @Html.EditorFor(model => model.correo, new { htmlAttributes = new { @class = "form-control form-control-lg", placeholder = "Correo electrónico", type = "email", required = "required" } })
            @Html.ValidationMessageFor(model => model.correo, "", new { @class = "text-danger" })

        </div>
        <div class="form-group">
            @Html.EditorFor(model => model.pass_usuario, new { htmlAttributes = new { @class = "form-control", placeholder = "Contraseña", type = "password", required = "required" } })
            @Html.ValidationMessageFor(model => model.pass_usuario, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <p style="color:red">@ViewBag.mensaje</p>
        </div>
        <div class="form-group">
     
            <input type="submit" value="Iniciar Sesión" class="btn btn-primary btn-block" />
            <br />
            @Html.ActionLink("¿No tienes una cuenta? | Registrate Aquí", "Registrar", "Usuario")
        </div>
        <hr />

       

    }
</div>
