﻿@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<<div class="row">
    <div class="col-lg-8 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Nuevo Empleado</h4>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="bg-white">
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="input-group input-group-outline mb-3">
                           Nombres
                            <div class="col-md-12">
                                <input name="vc_nombre" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                           Apellidos
                            <div class="col-md-12">
                                <input name="vc_apellido" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            Celular
                            <div class="col-md-12">
                                <input name="vc_celular" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                          Correo
                            <div class="col-md-12">
                                <input name="vc_email" type="text" class="form-control" />
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            Sucursal
                            <div class="col-md-12">
                                @Html.DropDownList("IN_SUCURSAL", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="p-2 col-12 bg-primary mb-3">
                          <span class="text-white">DATOS DE USUARIO</span>
                        </div>
                        <div class="input-group input-group-outline mb-3">
                            Rol
                            <div class="col-md-12">
                                @Html.DropDownList("in_id_rol", null, htmlAttributes: new { @class = "form-control" })
                            </div>
                        </div>
                        <div class="col-12 row">

                            <div class="input-group input-group-outline mb-3 col">
                                Usuario
                                <div class="col-md-12">
                                    <input name="vc_usuario" type="text" class="form-control" />
                                </div>
                            </div>
                            <div class="input-group input-group-outline mb-3 col">
                                Password
                                <div class="col-md-12">
                                    <input name="vc_password" type="text" class="form-control" />
                                </div>
                            </div>
                        </div>
                        
                       
                        <div class="d-flex flex-row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <a class="btn btn-outline-primary" href="@Url.Action("Index","empleados")">Cancelar</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>