﻿@model Proyecto_dsw1.Data.empleado

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-lg-4 col-md-8 col-12 mx-auto">
        <div class="card z-index-0 fadeIn3 fadeInBottom">
            <div class="card-header p-0 position-relative mt-n4 mx-3 z-index-2">
                <div class="bg-gradient-primary shadow-primary border-radius-lg py-3 pe-1">
                    <h4 class="text-white font-weight-bolder text-center mt-2 mb-0">Editar Empleado</h4>
                </div>
            </div>
            <div class="card-body">
                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()

                    <div class="form-horizontal">

                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        @Html.HiddenFor(model => model.in_id)
                        @Html.HiddenFor(model => model.VC_ESTADO)
                        <div class="input-group input-group-outline mb-3">
                            @Html.LabelFor(model => model.VC_NOMBRE, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VC_NOMBRE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VC_NOMBRE, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            @Html.LabelFor(model => model.VC_APELLIDO, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VC_APELLIDO, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VC_APELLIDO, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            @Html.LabelFor(model => model.VC_CELULAR, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VC_CELULAR, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VC_CELULAR, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            @Html.LabelFor(model => model.VC_EMAIL, htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.VC_EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.VC_EMAIL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="input-group input-group-outline mb-3">
                            @Html.LabelFor(model => model.IN_SUCURSAL, "IN_SUCURSAL", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                @Html.DropDownList("IN_SUCURSAL", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.IN_SUCURSAL, "", new { @class = "text-danger" })
                            </div>
                        </div>

                        <div class="d-flex flex-row">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" value="Guardar" class="btn btn-primary" />
                                <a class="btn btn-outline-primary" href="@Url.Action("Index","empleados")">Cancelar</a>
                            </div>
                        </div>

                    </div>
                }
            </div>
        </div>
    </div>
</div>

<script type="application/javascript">
    if (window.history.replaceState) { // verificamos disponibilidad
        window.history.replaceState(null, null, window.location.href);
    }
    document.cookie = 'cookie2=value2; SameSite=None; Secure';
</script>
